body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;

}
li.nav-item a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
span.ant-badge {
  margin: 8px;
}
.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}
input[type="search"] {
  border: 0;
}
input[type="search"]:focus {
  box-shadow: none;
}