body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;

}
li.nav-item a {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
span.ant-badge {
  margin: 8px;
}
.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}
input[type="search"] {
  border: 0;
}
input[type="search"]:focus {
  box-shadow: none;
}
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  z-index: 9999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}